# -*- coding: utf-8 -*-
"""
Created on Wed Jul 25 14:35:26 2018

@author: Francisco
"""

body{
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
}
.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}
.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}
.banner h3{
    color: black;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.values-box{
    border-radius: 5px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgb(216, 216, 216);
    border-right-color: rgb(216, 216, 216);
    border-left-color: rgb(216, 216, 216);
    border-image: initial;
    border-bottom-style: initial;
    border-bottom-color: initial;
}

.values-box .tab{
    border-bottom: 1px solid rgb(216, 216, 216);   
}

.values-box .tab h3{
    font-size: 1.75rem;
    color: rgb(66, 196, 247);
    border-bottom: rgb(216, 216, 216);
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.values{
    border-radius: 5px;
    border-right-style: solid
    border-right-color: black
    border-image: initial;
}

.values p{
    font-size: 1.5rem;
    color: black;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.graph-box{
    border-radius: 5px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgb(216, 216, 216);
    border-right-color: rgb(216, 216, 216);
    border-left-color: rgb(216, 216, 216);
    border-image: initial;
    border-bottom-style: initial;
    border-bottom-color: initial;
    border: 3px solid red; 
}

.graph-box .tab{
    border-bottom: 1px solid rgb(216, 216, 216);
    overflow: auto; 
    border: 3px solid black; 
}

.graph-box .tab h3{
    font-size: 1.75rem;
    color: rgb(66, 196, 247);
    border-bottom: rgb(216, 216, 216);
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
    border: 3px solid blue; 
}

.graph-box .history_graph{
    
}

#on_status{
    color: rgb(1,10,75);
    padding-top: 7px;
    margin-left: 1%;
    display: inline-block;
    font-size: 1.3em;
}

#db_len{
    color: grey;
    font-size: 1.5rem; 
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 3px solid green; 
}